BioPlayground/MQuter-eLabApp/MQuter-eLabApp/Service References/TridentEmulatorSvc/WorkflowService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TridentConnector.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TridentConnector.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bio.mquter.qut.edu.au/BioPlayground2010/Workflow WCF/WorkflowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activities" nillable="true" type="tns:ArrayOfActivity" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityTypes" type="tns:Activity.ActivityType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="InputParam" nillable="true" type="tns:ArrayOfParameter" />
      <xs:element minOccurs="0" name="OutputParam" nillable="true" type="tns:ArrayOfParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:simpleType name="Activity.ActivityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="ForLoop" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Activity.ActivityType" nillable="true" type="tns:Activity.ActivityType" />
  <xs:complexType name="ArrayOfParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameter" nillable="true" type="tns:ArrayOfParameter" />
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Compulsary" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsInputParam" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="tns:Parameter" />
</xs:schema>