BioPlayground/MQuter-eLabApp/MQuter-eLabApp/Service References/TridentEmulatorSvc/WorkflowService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPlayground2010/Workflow WCF/WorkflowService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPlayground2010/Workflow WCF/WorkflowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPlayground2010/Workflow WCF/WorkflowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TridentConnector.DataContracts" />
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPlayground2010/Workflow WCF/WorkflowService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WorkflowService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_RetrieveActivities_InputMessage">
    <wsdl:part name="parameters" element="RetrieveActivities" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_RetrieveActivities_OutputMessage">
    <wsdl:part name="parameters" element="RetrieveActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_SaveWorkFlow_InputMessage">
    <wsdl:part name="parameters" element="SaveWorkFlow" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_SaveWorkFlow_OutputMessage">
    <wsdl:part name="parameters" element="SaveWorkFlowResponse" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_ExecuteWorkflow_InputMessage">
    <wsdl:part name="parameters" element="ExecuteWorkflow" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_ExecuteWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="ExecuteWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="HelloWorld" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_GetJobStatus_InputMessage">
    <wsdl:part name="parameters" element="GetJobStatus" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_GetJobStatus_OutputMessage">
    <wsdl:part name="parameters" element="GetJobStatusResponse" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_GetJobOuput_InputMessage">
    <wsdl:part name="parameters" element="GetJobOuput" />
  </wsdl:message>
  <wsdl:message name="WorkflowService_GetJobOuput_OutputMessage">
    <wsdl:part name="parameters" element="GetJobOuputResponse" />
  </wsdl:message>
  <wsdl:portType name="WorkflowService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:WorkflowService/DoWork" message="WorkflowService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/DoWorkResponse" message="WorkflowService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveActivities">
      <wsdl:input wsaw:Action="urn:WorkflowService/RetrieveActivities" message="WorkflowService_RetrieveActivities_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/RetrieveActivitiesResponse" message="WorkflowService_RetrieveActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWorkFlow">
      <wsdl:input wsaw:Action="urn:WorkflowService/SaveWorkFlow" message="WorkflowService_SaveWorkFlow_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/SaveWorkFlowResponse" message="WorkflowService_SaveWorkFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteWorkflow">
      <wsdl:input wsaw:Action="urn:WorkflowService/ExecuteWorkflow" message="WorkflowService_ExecuteWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/ExecuteWorkflowResponse" message="WorkflowService_ExecuteWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="urn:WorkflowService/HelloWorld" message="WorkflowService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/HelloWorldResponse" message="WorkflowService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <wsdl:input wsaw:Action="urn:WorkflowService/GetJobStatus" message="WorkflowService_GetJobStatus_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/GetJobStatusResponse" message="WorkflowService_GetJobStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobOuput">
      <wsdl:input wsaw:Action="urn:WorkflowService/GetJobOuput" message="WorkflowService_GetJobOuput_InputMessage" />
      <wsdl:output wsaw:Action="urn:WorkflowService/GetJobOuputResponse" message="WorkflowService_GetJobOuput_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>