BioPatMLEditor/Service References/BioPatMLDataRepo/BioPatMLDataService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BioPatMLEditor.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BioPatMLEditor.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDefinitionPatternInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefinitionPatternInfo" nillable="true" type="tns:DefinitionPatternInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefinitionPatternInfo" nillable="true" type="tns:ArrayOfDefinitionPatternInfo" />
  <xs:complexType name="DefinitionPatternInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefinitionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainPatternId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainPatternName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainPatternType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefinitionPatternInfo" nillable="true" type="tns:DefinitionPatternInfo" />
</xs:schema>