BioPatMLEditor/Service References/BioPatMLDataRepo/BioPatMLDataService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPatML2010/BioPatMLDataService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPatML2010/BioPatMLDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPatML2010/BioPatMLDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BioPatMLEditor.Web" />
      <xsd:import schemaLocation="http://bio.mquter.qut.edu.au/BioPatML2010/BioPatMLDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QUT.Bio.BioPatMLDataRepository.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BioPatMLDataService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="BioPatMLDataService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="BioPatMLDataService_GetALLDefPatternInfo_InputMessage">
    <wsdl:part name="parameters" element="GetALLDefPatternInfo" />
  </wsdl:message>
  <wsdl:message name="BioPatMLDataService_GetALLDefPatternInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetALLDefPatternInfoResponse" />
  </wsdl:message>
  <wsdl:message name="BioPatMLDataService_GetPatternDetailInfo_InputMessage">
    <wsdl:part name="parameters" element="GetPatternDetailInfo" />
  </wsdl:message>
  <wsdl:message name="BioPatMLDataService_GetPatternDetailInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetPatternDetailInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="BioPatMLDataService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:BioPatMLDataService/DoWork" message="BioPatMLDataService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:BioPatMLDataService/DoWorkResponse" message="BioPatMLDataService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetALLDefPatternInfo">
      <wsdl:input wsaw:Action="urn:BioPatMLDataService/GetALLDefPatternInfo" message="BioPatMLDataService_GetALLDefPatternInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:BioPatMLDataService/GetALLDefPatternInfoResponse" message="BioPatMLDataService_GetALLDefPatternInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatternDetailInfo">
      <wsdl:input wsaw:Action="urn:BioPatMLDataService/GetPatternDetailInfo" message="BioPatMLDataService_GetPatternDetailInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:BioPatMLDataService/GetPatternDetailInfoResponse" message="BioPatMLDataService_GetPatternDetailInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>